---
import Layout from "../layouts/Layout.astro";
import Experience from "../components/Experience.astro";
import Aboutme from "../components/Aboutme.astro";
---

<Layout title="Proyectos">
  <main class="w-full mx-auto container sm:max-w-xl md:max-w-2xl lg:max-w-5xl">
    <Aboutme />
    <Experience />
  </main>

</Layout>
