---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Tabs from '../components/Tabs.astro';
---

<Layout title="Bienvenidos a mi Portfolio">
    <section aria-label = "Proyectos en python, sql, PowerBI y más..">
      <Tabs />
      <div class= "px-4 pt-16 w-full mx-auto container sm:max-w-xl md:max-w-2xl lg:max-w-5xl">
        <div class="grid gap-6 md:grid-cols-3 items-stretch auto-rows-fr">
          <Card />
        </div>
      </div>
    </section>
</Layout>
