---
---

<div class="px-4">
  <h2	class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-gray-500 dark:text-gray-400"> <i class="fa-solid fa-briefcase"></i>Experiencia Laboral</h2>
<ol class=" relative border-s border-gray-500 dark:border-gray-400 ">
  <li class="mb-10 ms-4 [&>ul]:text-gray-500 [&>ul]:dark:text-gray-400">
     <div class="absolute w-3 h-3 bg-gray-500 rounded-full mt-1.5 -start-1.5 dark:bg-gray-400"></div>
      <time class="mb-1 text-sm font-normal leading-none text-gray-500 dark:text-gray-400">01/2024 - 12/2024</time>
      <h3 class="text-lg font-semibold text-gray-500 dark:text-gray-400">Coordinador de Innovación y Sistemas Tecnológicos</h3>
      <h2 class="text-md font-semibold text-gray-400 dark:text-gray-400">MACRIS PERU S.A.C</h2>
      <ol class=" relative border-s border-gray-200 dark:border-gray-700 "></ol>
      <ul class="list-disc pl-4">
        <li>Proporcioné soporte técnico que permitió la creación de informes y aplicaciones, reduciendo los tiempos de respuesta en un 30% de la forma habitual.</li>
        <li>Gestioné la administración de cuentas corporativas, optimizando la configuración y reduciendo los problemas de acceso.</li>
        <li>Implementé nuevas herramientas y sistemas tecnológicos que mejoraron la eficiencia operativa reduciendo el Lead Time un 35%.</li>
      </ul>
  </li>
  <li class="mb-10 ms-4 [&>ul]:text-gray-500 [&>ul]:dark:text-gray-400">
      <div class="absolute w-3 h-3 bg-gray-500 rounded-full mt-1.5 -start-1.5 dark:bg-gray-400"></div>
      <time class="mb-1 text-sm font-normal leading-none text-gray-500 dark:text-gray-400">07/2023 - 12/2023</time>
      <h3 class="text-lg font-semibold text-gray-500 dark:text-gray-400">Coordinador de Mejoras Tecnológicas y Desarrollo de Negocios</h3>
      <h2 class="text-md font-semibold text-gray-400 dark:text-gray-400">METALPROTEC S.A.C.</h2>
      <ol class=" relative border-s border-gray-200 dark:border-gray-700 "></ol>
      <ul class="list-disc pl-4">
        <li>Reduje en 30% los tiempos de respuesta en la generación de informes mediante la implementación de automatización
          y dashboards interactivos.</li>
        <li>Optimicé la configuración de cuentas corporativas, disminuyendo los problemas de acceso y mejorando la eficiencia
          de gestión.</li>
        <li>Implementé nuevas herramientas digitales que redujeron el Lead Time en un 35%, mejorando el flujo de trabajo y la
          productividad operativa.</li>
      </ul>
  </li>
  <li class="mb-10 ms-4 [&>ul]:text-gray-500 [&>ul]:dark:text-gray-400">
      <div class="absolute w-3 h-3 bg-gray-500 rounded-full mt-1.5 -start-1.5 dark:bg-gray-400"></div>
      <time class="mb-1 text-sm font-normal leading-none text-gray-500 dark:text-gray-400">09/2022 - 12/2022</time>
      <h3 class="text-lg font-semibold text-gray-500 dark:text-gray-400">Practicante Inteligencia Comercial</h3>
      <h2 class="text-md font-semibold text-gray-400 dark:text-gray-400">METALPROTEC S.A.C.</h2>
      <ol class=" relative border-s border-gray-200 dark:border-gray-700 "></ol>
      <ul class="list-disc pl-4">
        <li>Diseñé e implementé dashboards interactivos que mejoraron la visibilidad de KPI’s, facilitando la toma de decisiones
          estratégicas.</li>
        <li>Creé informes y presentaciones de alto impacto que respaldaron decisiones clave en la compañía, aumentando la
          eficiencia operativa.</li>
        <li>Analicé las necesidades del cliente y proporcioné insights estratégicos que optimizaron la satisfacción del usuario
          final.</li>
      </ul>
  </li>
  <li class="mb-10 ms-4 [&>ul]:text-gray-500 [&>ul]:dark:text-gray-400">
      <div class="absolute w-3 h-3 bg-gray-500 rounded-full mt-1.5 -start-1.5 dark:bg-gray-400"></div>
      <time class="mb-1 text-sm font-normal leading-none text-gray-500 dark:text-gray-400">07/2021 - 08/2022</time>
      <h3 class="text-lg font-semibold text-gray-500 dark:text-gray-400">Asistente de Operaciones y Analítica</h3>
      <h2 class="text-md font-semibold text-gray-400 dark:text-gray-400">J&L INGENIERIA Y SERVICIOS S.A.C</h2>
      <ol class=" relative border-s border-gray-200 dark:border-gray-700 "></ol>
      <ul class="list-disc pl-4">
        <li>Lideré la coordinación de operaciones diarias, logrando una mejora del 20% en la productividad mediante la
          optimización de procesos.</li>
        <li>Supervisé y gestioné un equipo de analistas, asegurando la entrega eficiente de reportes y análisis detallados.</li>
        <li>Implementé herramientas de automatización que redujeron los tiempos de generación de informes en un 40%.</li>
      </ul>
  </li>
  <li class="mb-10 ms-4 [&>ul]:text-gray-500 [&>ul]:dark:text-gray-400">
      <div class="absolute w-3 h-3 bg-gray-500 rounded-full mt-1.5 -start-1.5 dark:bg-gray-400"></div>
      <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">04/2013 - 04/2014</time>
      <h3 class="text-lg font-semibold text-gray-500 dark:text-gray-400">Asistente Administrativo</h3>
      <h2 class="text-md font-semibold text-gray-400 dark:text-gray-400">GERDAU - SIDERPERU</h2>
      <ol class=" relative border-s border-gray-200 dark:border-gray-700 "></ol>
      <ul class="list-disc pl-4 ">
        <li>Elaboré reportes gerenciales diarios sobre producción, ventas y stock, facilitando la toma de decisiones estratégicas.</li>
        <li>Evalué el cumplimiento de medidas de calidad y seguridad, optimizando procesos internos.</li>
        <li>Gestioné pedidos y movimientos internos de productos, asegurando trazabilidad y eficiencia.</li>
      </ul>
  </li>
</ol>
</div>
