---
---

<footer class="bg-white border dark:border-gray-800  dark:bg-gray-950">
  <div class="w-full mx-auto max-w-screen-xl flex flex-col items-center sm:flex-row sm:justify-between">
    <span class=" my-4 text-gray-500 dark:text-gray-400 ">© 2025 Alvabits. Todos los derechos reservados
  </span>
  <ul class="flex flex-col items-center justify-center font-normal sm:flex-row sm:mb-0 text-md dark:text-gray-400 md:space-x-8">
      <li class="mb-4 sm:mb-0">
        <a href="https://github.com/coalva94" class="text-gray-500 dark:text-gray-400 hover:text-gray-800 dark:hover:text-gray-50">
          <i class="fa-brands fa-github "></i>
          <span class="ml-2">GitHub</span>
        </a>
      </li>
      <li class="mb-4 sm:mb-0">
        <a href="https://www.linkedin.com/in/coalva/" class="text-gray-500 dark:text-gray-4300 hover:text-gray-800 dark:hover:text-gray-50">
          <i class="fa-brands fa-linkedin"></i>
          <span class="ml-2">LinkedIn</span>
        </a>
      </li>
      <li class="mb-4 sm:mb-0">
        <a href="https://www.tiktok.com/@alvabits" class="text-gray-500 dark:text-gray-400 hover:text-gray-800 dark:hover:text-gray-50">
          <i class="fa-brands fa-tiktok"></i>
          <span class="ml-2">TikTok</span>
        </a>
      </li>
  </ul>
  </div>
</footer>
