---
const {title} = Astro.props;
import Footer from '../components/Footer.astro';
import Navbar from '../components/Navbar.astro';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <script src="https://kit.fontawesome.com/1b235c6bb1.js" crossorigin="anonymous"></script>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="flex flex-col min-h-screen bg-white bg-[linear-gradient(to_right,#8080800a_1px,transparent_1px),linear-gradient(to_bottom,#8080800a_1px,transparent_1px)] bg-[size:14px_24px]">
    <Navbar />
    <main class="flex-grow mt-20">
		  <slot />
    </main>
    <Footer />
	</body>
</html>
