---
const {title} = Astro.props;
import Footer from '../components/Footer.astro';
import Navbar from '../components/Navbar.astro';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <script src="https://kit.fontawesome.com/1b235c6bb1.js " crossorigin="anonymous" is:inline></script>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="flex flex-col min-h-screen bg-white dark:bg-gray-950">
    <Navbar />
    <main class="flex-grow mt-16">
      <slot />
    </main>
    <Footer />
	</body>
</html>
